body {
    background: radial-gradient(circle at top, #222, #000);
    color: #eee;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-image: url("images/background.jpg");

}

/* Categories */
.categories {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 20px;
}

.categories li {
    cursor: pointer;
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
}

.categories li.active {
    color: #c79a5b;
    border-bottom: 2px solid #c79a5b;
}







/* Title */
.section-title {

    font-weight: 5;
    font-family:Bebas Neue;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 5;
    color:#b88c4e;
    text-align: center;
}

/*.back-btn {
    display: inline-block;
    margin-bottom: 20px;
    color: #c79a5b;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
*/
/*.section-title::after {
  content: "";
  position: absolute;
  left: -8%;
  bottom: -10px;
  width: 115%;
  height: 18px;
  background:rgba(255, 215, 100, 0.7);

  
  border-radius: 30px 10px 25px 15px;
  transform: rotate(-3deg);
  z-index: -1;
}
*/
.menu-wrapper {
  display: flex;
  flex-direction: column;   /* ⭐️ العنوان فوق */
  align-items: center;      /* ⭐️ العنوان في المنتص*/
  /*padding: 15px 20px;*/
  padding-top: 15px;   
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:rgba(0, 0, 0, 0.378);
  margin: 0 auto; 
  width:80%;
  border-radius: 7px;
}
.images-row {
    display: flex;
    gap: 20px;
    align-items: center;   /* ⭐️ مهم جداً */
    justify-content: center;         /* المسافة بين الصور */
}

.images-row img {
  width: 100%;
  max-width: 33%;
  
  height: auto;
  border-radius: 7px;
}
.center-box {
  
  max-width: 33%;
  height: auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.chef-head{
    font-family:Bebas Neue;    
    font-size: 32px;
    font-weight: 10;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    
    
}
.chef-intro{
    font-family:Montserrat;
    word-spacing: 1px;
}

/* Grid */
.menu {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
}

/* Card */
.card {
    background: rgba(0, 0, 0, 0.298);
    padding: 15px;
    border-radius: 7px;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.065);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 30px 80px rgba(0,0,0,0.12);
}
.img-box{
  display: flex;
  object-fit: none;
  height:250px;
}


.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 7px;
    
    
}
    

.card h4 {
    margin: 12px 0 5px;
    font-family:Bebas Neue ;
    font-size: 25px;
    font-weight: 5;
    letter-spacing: 1px;
}

.card span {
    color: #c79a5b;
}

.card button {
    width: 100%;
    margin-top: 10px;
    background: #c79a5b;
    border: none;
    padding: 8px;
    cursor: pointer;
}
.card .description {
    font-size: 14px;
    color: #888888;
    margin: 5px 0;
    display: -webkit-box;
    /*-webkit-line-clamp: 3;       /* يظهر 3 أسطر فقط */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: 4.5em;           /* line-height × عدد الأسطر */
    transition: max-height 0.3s ease;
    
}
.read-more {
  display: inline-block;
  margin-top: 5px;
  padding: 6px 10px;
  background: #c79a5b;
  border: none;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  font-size: 13px;
}

/*jjj*/
.cart {
    width: 80%;
    margin: auto;
}

.cart-item {
    display: flex;
    gap: 20px;
    background:#00000043;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    
    
}
.cart_product_name{
    font-family: Bebas Neue;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-size: 25px;
    margin-top:2px;
    margin-bottom: 2px;
    color:#eee;
    font-weight: 10;
}



.cart-item img {
    width: 170px;
    border-radius: 7px;
    height: 220px;
    object-fit: cover;
}

.cart-item a {
    color: #c79a5b;
    text-decoration: none;
    
}
.cart-title{
    text-align: center;
    margin: 30px 0;
    letter-spacing: 7px;
    word-spacing: 3px;
    font-family: Bebas Neue;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 30;
    color:#8e6d3e;

}

.total {
    text-align: center;
    margin: 30px;
    color: #c79a5b;
}
.cart-icon {
    position: fixed;
    top: 20px;
    right: 30px;
    background: #8e6d3e;
    color: #000;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

#cart-count {
    
    color: #000;
    padding: 2px 7px;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom:10px;
}
.checkout-btn {
    width: 100%;
    padding: 12px;
    background: #b88c4e;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 20px;
}

.checkout-btn:hover {
    background: #8e6d3e;
}

.back-btn {
    display: inline-block;
    margin-bottom: 20px;
    color: #c79a5b;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.back-btn:hover {
    color: #b88c4e;
}